
<h1 class = "blue-grey-text lighten-2" >Edit <%= @coin.name %> </h1>

<div class="row" >
  <form class = "col s12" method = "post" action = "/coins/<%= @coin.id %>" id="coinform">
    <input type="hidden" id = "hidden" name="_method" value="PATCH">
    <div class = "input-field col s6">
      <input class="red-text darken-6" type="text" name="price" value="<%= @coin.price_paid %>" id = "price">
      <label class="active" for = "price">Price:</label>
    </div>
    <div class = "input-field col s6">
      <input class="red-text darken-6" type="text" name="amount" value="<%= @coin.amount %>" id = "amount">
        <label class="active" for = "amount">Amount:</label>
    </div>
    <button class="btn waves-effect waves-light red darken-6 left" type="submit" name="action" for="post-form">Edit Coin
      <i class="material-icons right">send</i>
    </button>
  </form>
  <form method= "post" action = "/coins/<%= @coin.id %>/delete" >
    <input type="hidden" id = "hidden" name="_method" value="DELETE">
    <button class="btn waves-effect waves-light blue-grey-text lighten-2 right" type="submit" name="action" for="post-form">DELETE
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
