<head>
  <link rel="stylesheet" href="/stylesheets/new_coin.css">
</head>

<h1 class = "blue-grey-text lighten-2">Add a new coin to your Coinfolio</h1>
  <% if @coin && @coin.errors %>
    <% @coin.errors.full_messages.each do |message| %>
      <h5 class="red-text darken-6"><%= message %></h5>
    <% end %>
  <% end %>

  <div class="row" >
    <form class = "col s12" id = "post-form" method = "post" action = "/coins">
      <input type = "hidden" name = "coin_index" id = "coin-id">
      <div class = "row">
        <% if @coin %>
        <div class = "input-field col s6">
          <input type= "text" id="coin-search-bar" class="red-text darken-6" onkeyup="myFunction()" placeholder="Search for coins.." name = "coin" value = "<%= @coin.name %>">
        </div>
        <% else %>
        <div class = "input-field col s6">
          <input type= "text" id="coin-search-bar" class="red-text darken-6" onkeyup="myFunction()" placeholder="Search for coins.." name = "coin" >
        </div>
        <% end %>
          <% if !@coin %>
        <div class = "input-field col s6">
          <input type = "text" id="price_paid_input" class="red-text darken-6" name = "price_paid" placeholder="Price Paid:"/>
        </div>
          <% else %>
          <div class = "input-field col s6">
            <input type = "text" id="price_paid_input" class="red-text darken-6" name = "price_paid" placeholder="Price Paid:" value = "<%= @coin.current_price %>"/>
          </div>
          <% end %>
        <div class = "input-field col s6">
          <input type = "text" class="red-text darken-6" name = "amount" placeholder="Amount:"/>
        </div>
      </div>
      <button class="btn waves-effect waves-light red darken-6 right" type="submit" name="action" for="post-form">Add Coin
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
  <ul id="available-coin-list">
    <% @available_coins.each_with_index do |coin, index| %>
    <li >
      <a id = "<%= index %>" onclick="fillInInput('<%= coin.name %>', '<%= index %>', '<%= coin.current_price %>')">
        <%= coin.name %> - $<%= coin.current_price  %>
      </a>
    </li>
  <% end %>
  </ul>





<script>
function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById('coin-search-bar');
    filter = input.value.toUpperCase();
    ul = document.getElementById("available-coin-list");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

function fillInInput(coin_name, coin_id, current_price) {
  for (i = 0; i < 100 ; i++) {
    document.getElementById(i).style.backgroundColor = 'grey'
  }
  input = document.getElementById('coin-search-bar');
  input.value = coin_name
  document.getElementById("price_paid_input").value = current_price
  document.getElementById('coin-id').value = coin_id
  document.getElementById(coin_id).style.backgroundColor = "tomato";
}
</script>
